[submodule "packages/jiggle"]
	path = packages/jiggle
	url = https://github.com/nanofuxion/jiggle
[submodule "packages/lynxwebsockets"]
	path = packages/lynxwebsockets
	url = https://github.com/nanofuxion/lynxwebsockets
[submodule "packages/tamer-dev-app"]
	path = packages/tamer-dev-app
	url = https://github.com/nanofuxion/tamer-dev-app.git
[submodule "packages/tamer-dev-client"]
	path = packages/tamer-dev-client
	url = https://github.com/nanofuxion/tamer-dev-client.git
[submodule "packages/tamer-plugin"]
	path = packages/tamer-plugin
	url = https://github.com/nanofuxion/tamer-plugin.git
[submodule "packages/tamer-router"]
	path = packages/tamer-router
	url = https://github.com/nanofuxion/tamer-router.git
